.google-maps-container{
    width: 100%;
    height: auto;
    padding-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.google-maps-container iframe{
    border-radius: 20px;
}

@media screen and (max-width: 620px) {

    .google-maps-container{
        height: 500px;
    }

    .google-maps-container iframe{
        width: 90%;
        height: 90%;
    }
}