*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 700;
}

header{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

nav{
    width: 90%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1)
}
nav p{
    position: relative;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

nav p::before{
    content: "";
    position: absolute;
    bottom: -8px;
    height: 6px;
    width: 0;
    background-color: #4070f4;
    border-radius: 50px;
    transition: 0.5s ease;
}

nav p:hover:before{
    width: 100%;
}